.orangered {
    color: orangered;
}

.decorationNone1 {
    text-decoration: none;
    color: #212529;
}

.decorationNone2 {
    text-decoration: none;
}

@media only screen and (max-width: 576px) {
    .signinContainer {
        background-color: white;
        width: 90% !important;
        max-width: 420px !important;
        box-shadow: 0 0 5px 1px #999999;
        margin-top: 20px;
        padding: 40px 0 20px 0 !important;
        border-radius: 10px;
    }
}

@media only screen and ((min-width: 576px) and (max-width: 992px)) {
    .signinContainer {
        background-color: white;
        width: 500px !important;
        box-shadow: 0 0 5px 1px #999999;
        margin-top: 20px;
        padding: 40px 0 20px 0 !important;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .signinContainer {
        background-color: white;
        width: 500px !important;
        box-shadow: 0 0 5px 1px #999999;
        margin-top: 20px;
        padding: 40px 0 20px 0 !important;
        border-radius: 10px;
    }
}